<%= form_with(model: author, local: true) do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
        <% author.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.text_field :date_of_birth %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



<div class="container">
  <div class="p-5">
    <div class="card">
      <div class="card-body">
       <%= form_with(model: author, local: true) do |form| %>
        <div class="form-group">
          <label for="author_first_name">First Name</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="first name">
        </div> 
         <div class="form-group">
          <label for="author_last_name">Last Name</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="last name">
        </div> 
         <div class="form-group">
            <label for="exampleFormControlInput1">Date of Birth</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Birth Date">
        </div> 
          <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
           Submit
          </button> 
        <% end %>      
      </div>
    </div>
  </div> 
</div>



<form action="/authors" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="CeLfbMloqe7JpYvyIi/iJMsnQZm3eWV0pQ88aRhgGPLkykRK95QVHWrmriovjTKZjI6DCsB01s1/aEJt6u4H0w==">

  <div class="field">
    <label for="author_first_name">First name</label>
    <input type="text" name="author[first_name]" id="author_first_name">
  </div>

  <div class="field">
    <label for="author_last_name">Last name</label>
    <input type="text" name="author[last_name]" id="author_last_name">
  </div>

  <div class="field">
    <label for="author_date_of_birth">Date of birth</label>
    <input type="text" name="author[date_of_birth]" id="author_date_of_birth">
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Create Author" data-disable-with="Create Author">
  </div>
</form>